/* a{

  text-decoration: none;
  border: 1px solid black;
  background-color: green;
  color: beige;
  padding: 10px;
}

#WelcomePageButtonDiv{
  width: 10%;
  display: flex;
  justify-content: space-between;
} */



.card-main-div{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  border: 1px solid black;
  margin: 20px;
  text-align: center;
  /* flex-grow: 1; */
}

.products-card-div{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  margin: 10px auto;
  text-align: center;
  /* flex-grow: 1; */
}


.welcome-Body{
  width: 100%;
  display: flex;
  height: max-content;
  /* flex-wrap: wrap; */
  animation: slideUp 1s ease-out;
  
}



body{
  background: linear-gradient(to right,rgb(170, 170, 170),rgb(1, 1, 128));
}

.welcome-Body .right-pane{
  
  
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  color: black;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* text-align: center; */
}


.welcome-Body .right-pane h1{
  padding-bottom: 30px;
  color: aliceblue;
  text-shadow: 10px 10px 10px;
}


.right-pane li{
  text-align: 'left';
  list-style-type: square;
}

.list-div{

  border: 1px solid black;
  padding: 20px;
  background: linear-gradient( 45deg, rgb(189, 118, 118),rgb(81, 149, 81));
  animation: slideUp 1s ease-out 0.5s;
  animation-fill-mode: backwards;


}


@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader-overlay{
    position: fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background: rgba(0,0,0,0.4);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.swal2-container{
    z-index: 10000 !important;
}