 #personal-details-div {

    width: 400px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    justify-self: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    opacity: 70%;
 }

 body{

    background-image: url(/Images/Students-BG.jpg);
    background-position: center;
    background-size: cover;
 }