.Home-Div, .About-Div,.Skills-Div, .Projects-Div, .Expirence-Div,.Contact-Div{
 padding: 20px;

  
}

.Home-Div section{
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  width: 100%;
   animation: fadeInSide 1s ease-out;
  
}


.About-Div section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: fadeInSide 2s ease-out;
  
}

.About-Div p{

  padding: 10px 40px;
  
}

.Skills-Div li{
  list-style-type: none ;
}


.Contact-Div section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}



.Skills-Div section, .Projects-Div section{
  animation: fadeInUp 2s ease-out;
}


@keyframes fadeInUp {

    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeInSide {

    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#main-img {
    animation: fadeInSide 1s ease-out 0.3s;
    animation-fill-mode: backwards;
}


#pro-highlights-li li:hover{

  transform: translateX(10px);
}